_f.login.erb

<div id="login_form"><h1> LOGIN </h1>
  <%= form_for(@user,{url:sessions_path}) do |f| %> 
   <%= f.text_field :email, :placeholder => "Email", :class => "input_field" %>
   <%= f.password_field :password, :placeholder => "password", :class => "input_field" %>
   <%= f.submit "submit", :class => "submit_button", :id => "submit_login_button"%>
  <% end %>
  <!-- <span class = "close_login_button">cancel</span> -->
</div>
