
//*********Day modal header and 'x' close button*******//
.close{
	color: white;
}


#dayShowModal{
	max-height: 80%;
	overflow-y: auto;
}


.modal-header{
	background-color: #c62d1f;
	color: white;
}


//*******Day Modal Body********//

#modalBody{

	// background-color: rgb(0,0,128);
	// background-image: url(asset-path('modal-background.jpg'));
	// background-color: red;
	background: #222;
	height: 592px;
	width: 599px;

	max-height: none;

	// padding: 10px;
	// margin: 0 auto;

}

//******image container*******//

#image_videos_form{
text-align: center;
// padding: 40px;
border: 5px solid white;

// background-image: url(asset-path('modal-background.jpg'));
// display: inline-block;
// float: left;
height: 400px;
width: 400px;
// padding-bottom: 10px;
margin: 20px auto;
// -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
// -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
//  box-shadow: 0px 10px 7px rgba(0,0,0,0.4), 0px 20px 10px rgba(0,0,0,0.2);
}

//*********blurb container*******//


#blurbs_form{
// text-align: center;
// // padding: 40px;
// // border: 1px solid black;
// font-size: 12px;
// // background-image: url(asset-path('modal-background.jpg'));
// padding-bottom: 10px;
// height: 50px;
// width: 80%;
// margin: 10px auto;


// display: inline-block;
// float: right;

}

//******blurb text area*******//

#blurb{
	text-align: center;
	font-size: 12px;
	width: 455px;
	height: 50px;
	margin: 10px auto;
	position: absolute;

}

textarea{
	border: 5px solid #c62d1f;
	height: 100px;
	width: 570px;
	border-radius: 20px;
	text-indent: 20px;

}

//*****Image Upload*******//

.load-images{
	display: inline-block;
	// margin: 10px ;
	// padding-top: 10px;
}


#media{
	// margin-left: 40px;
	// display: inline;
	// padding: 10px;
}

//******Modal Footer*******//

.modal-footer{
	// display: inline-block;
	// float: center;
	// padding-top: 20px;
	// margin: 10px 10px;
	float: center;
	padding: 20px 20px;
	background-color: #c62d1f;
	// width: 100%;
	// height: 30px;
}


///******submit day button *******//

.input_field{
	width: 150px;
	height: 30px;
	background-color: white;
	border-radius: 90px;
	margin-bottom: 10px;
	text-indent: 20px;
	display: block;
}


.submit-button{
	// margin-bottom: 10px;
	// margin-left: 60px;
	color: red;
	border-radius: 90px;
	text-align: center;
	display: inline-block;
	position: relative;
	width: 150px;
	height: 30px;
	// background-color: red;

	// padding: 10px;
}



//******Close Modal button*******//
.btn btn-default{
	// position: relative;
	padding-left: 30px;
}



