
#modalBody{

background-color: red;
}

.events_form{
text-align: center;
padding: 20px;

}

.blurbs_form{
text-align: center;
padding: 20px;

}


.image_videos_form{
text-align: center;
padding: 20px;

}

// td.fc-day{

// 	transform: scale(1.2,1.2);
// 	transition: all .3s ease-in-out;
// }