
#modalTitle{

	text-align: center;
}


.modal-body{

background-color: red;
padding-bottom: 10px;
}

#events_form{
text-align: center;
padding: 40px;
border: 1px solid black;
font-size: 20px;
background-color: white;

}

#blurbs_form{
text-align: center;
padding: 40px;
border: 1px solid black;
font-size: 20px;
background-color: white;

}


#image_videos_form{
text-align: center;
padding: 40px;
border: 1px solid black;
font-size: 20px;
background-color: white;

}

 .blurb{

  height:100px;
  // left:0;
  // line-height:33px;
  // padding:8px 8px 7px;
  // top:0;
  width:300px;
}

// td.fc-day{

// 	transform: scale(1.2,1.2);
// 	transition: all .3s ease-in-out;
// }