// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#login_page_body{
	background-image: url(asset-path('calendar-icon.png'));
	background-size: cover;

	margin: 0 auto;
	// background-size: 1100px 650px;
	background-repeat: no-repeat;


}




.welcome-header{

	text-align: center;
	color: white;
	margin-top: 120px;


}

#welcome{
	margin-top: 20px;
	font-size: 50px;
	color: white;
	font-style: italic;
	font-family: Impact;

}

#welcome-blurb{

	color: black;
}


#modalTitle{

text-align: center;

}

#myModalLabel{
 text-align: center;

}

#sign-up.modal-body{
	// background-color: red;
	padding:10px;
	// padding-bottom: 10px;
}

#login.modal-body{

// background-color: red;
// padding-bottom: 10px;

}
#signup_form{

	text-align: center;
	margin-left: 25%;
	margin-right: auto;
	position: relative;
	border-radius: 90px;
	transition: all .3s ease-in-out;
	width: 150px;
	

}


#login_form{

	text-align: center;
	margin-left: 25%;
	margin-right: auto;
	position: relative;
	border-radius: 90px;
	transition: all .3s ease-in-out;
	width: 150px;



}




#login_signup_container{
	margin: 0 auto;
	width: 30%;
	position: relative;
	top: 30%;
	z-index: 100;
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 70px;

}




#signup_button {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:50px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	transition: all .3s ease-in-out;
	background-size: 200px;
	text-align: center;
	background-position: center center;
    background-repeat: no-repeat;
    z-index: -100;
    margin: 0 auto;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 30px;

}



#signup_button:hover{
	transform: scale(1.2,1.2);
	transition: all .3s ease-in-out;
}
#signup_button:active{
	transform: scale(1,1);
	transition: all .1s ease-in-out;
}




#login_button {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:50px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	transition: all .3s ease-in-out;
	background-size: 200px;
	text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -100;
    margin: 0 auto;
    width: 300px;

}

#login_button:hover{
	transform: scale(1.2,1.2);
	transition: all .3s ease-in-out;
}
#login_button:active{
	transform: scale(1,1);
	transition: all .1s ease-in-out;
}


.submit_button{

	margin-top: 10px;

}



































// #signup_button{
// 	margin-top: 70px;
// 	height: 80px;
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: 200px;
// 	transition: all .3s ease-in-out;
// 	z-index: -100;
// 	cursor: pointer;
// 	font-size: 80px;
// 	text-align: center;
// 	font-style: italic;
// 	// border-style: 2px solid;
// 	// border-width: 2px;
// }



// #login_button{

// 	height: 80px;

// 	margin-top: 20px;

// 	background-image: url(image-path('piknik_login.png'));
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: 160px;
// 	transition: all .3s ease-in-out;
// 	z-index: -100;
// 	cursor: pointer;
// 	font-size: 80px;
// 	text-align: center;
// 	font-style: italic;
// 	// border-style: solid;
// 	// border-left: 1px;
// 	// border-right:1px;
// 	// border-bottom:2px;
// 	// border-top:1px;
// 	// border-width: 2px;
// }

// #login_button:hover{
// 	transform: scale(1.2,1.2);
// 	transition: all .3s ease-in-out;
// }
// #login_button:active{
// 	transform: scale(1,1);
// 	transition: all .1s ease-in-out;
// }


